/* styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5e0f5;
  margin-top: 50px;
}

.widget-container {
  width: 400px; /* Set the width of the container */
  height: 500px; /* Set the height of the container */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin: 20px auto; /* Center the container horizontally */
  overflow: hidden; /* Hide overflow content */
  min-height: 600px;
}

.widget-header {
  color: rgb(160, 98, 160);
  padding: 10px;
  display: flex;
  align-items: center;
}

.back-arrow {
  font-size: 70px;
  margin-right: 10px;
  margin-top: 5px;
}

.widget {
  padding: 20px;
}

.side{
  font: 20px Arial, sans-serif;
  margin-top: 40px;
  margin-right: 100px;
}

.main{
  font: 50px;
  margin-left: 20px;
  color: rgb(134, 48, 134);
  margin-bottom: 10px;
}

.wid{
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
}

.circled-plus{
  margin-left: 200px;
  font-size: 30px;
  color: rgb(194, 150, 194);
  
}

/* .progress-bar-container {
  width: 100%;
  height: 30px; 
  background-color: #ddd; 
  position: absolute; 
  left: 0;
  display: flex;
  align-items: center;
} */s

.progress-text {
  margin-left: 10px;
  color: #3498db; /* Blue color for the progress text */
}

.checkbox-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.checkbox-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font: 10px;
  color: rgb(116, 108, 108);
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #2fc62f; /* Blue color for the border */
  display: inline-block;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  
  
}

input[type="checkbox"]:checked + label::before {
  content: '\f00c'; 
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 14px;
  color: white; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2fc62f;

}

.para{
  color: rgb(146, 134, 134);
}

.c1{
  border-radius: 100px;
  align-items: center;
  color: gray;
  background-color: yellow;
  width: 100px;
  height: 30px;
  margin-right: 10px;
  
}

.c2{
  border-radius: 50px;
  align-items: center;
  color: gray;
  background-color: rgb(146, 216, 146);
  width: 100px;
  height: 30px;
  

}

/* .c3{
  border-radius: 100px;
  align-items: center;
  color: gray;
  background-color: yellow;
  width: 100px;
  height: 30px;
} */

.c4{
  border-radius: 100px;
  align-items: center;
  color: gray;
  background-color: rgb(239, 135, 152);
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}

.c5{
  border-radius: 100px;
  align-items: center;
  color: gray;
  background-color:rgb(107, 14, 194);
  width: 100px;
  height: 30px;
  
}
  

.footer{
  display:inline-block;
  align-items: center;
}

.footer2{
  display: inline-block;
}
/* Add additional styling as needed */
